/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('../img/backgrounds/bg.png') no-repeat center center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container{
    overflow: hidden;
    overflow-y: auto !important;
    height: 100%;
}
.top-nav-bar{
    position: fixed;
    top: 2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}
.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: rgba(49,79,79,0.1);
    background-size: 100%;
}
.back-nav{
    position: absolute;
    width: 20px;
    height: 40px;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/icons/footer_icon_back_2.png') no-repeat center center;
    background-size: 100%;
    cursor: pointer;
}
.menu-list-icon{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/icons/topleft_handle@2x.png') no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;
}

.menu-list{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    color: #fff;
    font-size: 10pt;
    font-family: verdana;
    margin: 0;
    padding: 5px;
    z-index: 1999;
    background: url('../img/backgrounds/bg.png') no-repeat center center;
    background-size: 100% 100%;
}
.showMenu{
    display: block;
}

.menu-list li{
    width: 100%;
    padding: 15px 15px;
    /*border: 2px outset rgba(0,0,0,0.6);
    background: url('../img/background/bg-list.png') no-repeat center center;
    background-color: rgba(0,0,0,0.5);*/
    border-bottom-left-radius: 5px;
    cursor: pointer;
    border-bottom: 2px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
}
.menu-list li:hover{
    background-color: rgba(0,0,0,0.4);
}
.template-view{
    position: absolute;
    top: 60px;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 50px !important;
    overflow: hidden;
    overflow-y: auto;
    width: 100%
}
.page-title{
    position: absolute;
    left: 75px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-transform: uppercase;
    font-size: 32pt;
    font-family:Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
}
.dividee{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    width: 100%;
    background: url('../img/icons/divider_color@2x.png')no-repeat center center;
    background-size: 100%;
}
.animate-enter, .animate-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.animate-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.animate-enter.animate-enter-active {
  left:0;
  opacity:1;
}

.animate-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.animate-leave.animate-leave-active {
  left:-100px;
  opacity:0;
 }
.pages{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*background: rgba(255,0,0,0.7);*/
}
.content{
    height: 100%;
    width: 100%;
    text-align: center !important;
    /*background: rgba(255,200,0,0.7);*/
    padding-top: 20px;
}

.media{
    /*display: block;*/
    background: #fff;
    box-sizing: border-box;
    width: 800px;
    height: 730px;
    text-align: center !important;
    margin:auto;
    margin-bottom: 12px !important;
}

.media-title{
    text-align: center;
    font-size: 19pt;
    color: #000;
    font-family:Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
    font-weight:700;
    padding: 5px 0px;
}
.media-element-holder{
    width: 95%;
    height: 500px;
    border: 5px solid rgba(0,0,0,0.2);
    background: #000;
    margin:auto;
    box-sizing: border-box;
}
.media-element-holder img{
    width: 100%;
    height: 100%;
}
.media-reviews-holder{
    width: 95%;
    height: 40px;
    margin: auto;
}
.media-review-count{
    width: 100%;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 5px;
    color: #000;
    font-weight:bolder;
}
.media-description{
    color: #000;
    width: 100%;
    height: 150px;
    margin: auto;
}
.media-box{
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 95%;
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.tvshows {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    height: 100%;
    border-right: 2px;
    border-right-color: #fff;
    border-right-style: solid;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
}
.tvshows:last-child{
    border-right: none !important;
}
.tvshows .head-title{
    font-family:Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-size: 14pt;
    font-weight: 700;
}
.sub-navigation-container{
    top: 110px !important;
}
.rss-feed-content{
    width: 100%;
    height: 100%;
}
.rss-feed-container{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 50px 50px;
}
.rss-feed-subdetails{
    display: inline-block;
    vertical-align: middle;
}
.rss-feed-image-holder{
    width: 110px;
    height: 100px;
    box-sizing: border-box;
    margin-right: 4px
}
.rss-feed-image-holder img{
    width: 100%;
    height: 100%;
}
.rss-feed-head-details{
    font-size: 14pt;
    font-family: Cambria;
    font-weight: 700;
}
.episode-containers{
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
    border-bottom: 2px groove #fff;
    text-align: left;
    cursor: pointer;
}
.episode-containers:hover{
    background: rgba(255,255,255,0.2);
}
.episode-title{
    display:block;
    height: 30px;
    width: 100%;
    text-align: left;
}
.episode-image-holder{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.episode-image-holder img{
    width: 100%;
    height: 100%
}
.episode-synopsis{
    width: 330px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 9pt;
}
.rss-feed-content-holder{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 2px groove #fff;
    overflow: hidden;
    cursor: pointer;
}
.special-feed-container{
    display: block;
    position: relative !important;
    width: 100%;
    margin-top: 8px;
    height: 20% !important;
    overflow: hidden !important;
    overflow-y: auto !important;
    border-top: 1px solid #fff;
    box-sizing: border-box;
}